body{ 
    background: #232321;
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    color: #cfcfcd;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}
  
header{
    padding: 10px 20px;
}
  
main{ 
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}
  
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    padding-bottom: 15px;
    text-transform: uppercase;
}
  
h2 {
    font-family: 'Sonsie One', cursive;
    font-size: 1.3em;
    padding-bottom: 10px;
}
  
.box {
    background: #cfcfcd;
    color: #232321;
    height: 20vh;
    background: cover;
    min-height: 150px;
}
  
.box h6 {
    padding: 15px;
    background:white; 
    border-bottom: 1px dotted #232321;
}
  
.a{
   background: 500px url('images/lake.jpg');
}
  
.resize {
    height: 170px;
    width: 265px;
}
  
.b{
    background:500px url('images/empire.jpg');
}
  
.c{
  background: 500px url('images/person.jpg');
}
  
.d{
  background:500px url('images/tree.jpg');
}
  
.e{
  background: 500px url('images/geo.jpg');
}
  
.f{
  background:500px  url('images/sand.jpg');
}
  
.g{
  background: 500px url('images/bridge.jpg');
}
  
.h{
  background: 500px url('images/lens.jpg');
}
  
@media only screen and (min-width: 600px) {
  
body {
    grid-template-rows: 200px 1fr;
}
  
main{ 
    width: 80%; 
    margin: 0 auto;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
  
.box {
    height: 33vh;
    min-height: 200px;
}

}
  